<header class="header"> 
    <img src="https://cdn.pixabay.com/photo/2014/09/17/22/39/scales-of-justice-450203__340.png"   height="100px"><span>JUSTIPORT</span>
    <nav class="navigation"> 
      <a routerLink="/uslo" >Home</a>
       
      <a routerLink=" ">Log Out</a>
      <a  ></a> 
    </nav>
</header>
<section>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Have A Basic Knowledge On Laws</h2>
                </div>
                
            </div>
        </div>
    </div>
    </section>
    <section class="sect">
        <div class="s1"> 
        <a href="https://devgan.in/all_sections_ipc.php">click here</a><span>Have a look !! get some knowledege on legal issues.</span>
    </div>

    <div class="civil">
        <h1>Civil Cases</h1>
        <p>A civil case begins when an individual or entity (such as a corporation), the plaintiff, files a legal action against another individual or entity, the defendant. The plaintiff and the defendant are also called "parties" or "litigants." The plaintiff usually claims the defendant has breached a civil duty or been negligent in some way. Contracts and negligence cases are examples of torts.<br><br>

            The plaintiff may ask the court to order the defendant to fulfill a duty, compensate for the harm done, or both. Legal duties in tort include adhering to contracts, having insurance, and maintaining property.<br><br>
            
            State and federal courts can hear civil suits. An example of a civil case in a state court would be if one party sued another for breach of contract. In breach of contract, one party fails to follow the terms that the parties previously agreed to.<br><br>
            
            For example, a lumberyard contracts to sell wood to a carpenter for a set price. On the delivery date, the lumberyard fails to deliver the wood. The carpenter needs the wood that day, so they must buy it elsewhere at a higher price. The lumberyard has breached the contract, and the carpenter can sue for damages, the costs of buying the wood, and any delay in the project.<br><br>
            
            Parties, including the federal government, can bring civil suits to federal courts. Federal courts hear violations of federal statutes and constitutional rights. They also hear "diversity" cases where parties are from different states.<br><br>
            
            In a civil trial, constitutional rights to due process don't apply in the same way as in criminal court. Defendants don't have the same right to a speedy trial. There is no bail or bond in a civil lawsuit. The burden of proof is on the plaintiff, but in most cases, the burden is only a preponderance of the evidence. This usually means "more likely than not."
            
            Criminal Cases</p>
    </div>
    <div class="crime">
        <h1>Criminal Cases</h1>
        <p>Criminal cases fall into several categories: felonies, misdemeanors, and infractions. The category depends on the nature of the crime and the length of the sentence.<br><br>

            Felonies are the most serious crimes. They include homicide, armed robbery, kidnapping, and drug trafficking. They may also include high-dollar value white-collar crimes. Felonies have prison sentences of over one year.<br><br>
            Misdemeanors are less serious crimes. They can include petty theft, simple assault and battery, property crimes, and minor traffic crimes. Misdemeanors receive jail sentences of less than one year.<br><br>
            Infractions are minor crimes. Most people have committed one infraction, such as minor traffic violations, public intoxication, or similar crimes. Infractions are punishable by fines.<br><br>
            The victim does not bring criminal charges against the suspect. The government prosecutes the crime on behalf of the people of the state where the crime occurred. Under the U.S. Constitution, all defendants in criminal court have the right to due process. Due process at trial includes:<br><br>
            
            The right to a criminal defense attorney during trial<br>
            The right to a presumption of innocence<br>
            The right to a speedy trial<br>
            The right to make bail<br>
            The right to call witnesses in their defense and to confront witnesses against them<br><br>
            The prosecution has the burden of proof against the defendant and, in a criminal case, must prove guilt beyond a reasonable doubt. The principal difference in a criminal case is that the defendant is facing a loss of their liberty. So, there's a higher standard of proof in a criminal case than in civil litigation.</p>
    </div>
    </section>
    <footer>
        <div class="footer-col">
         <h3>Solutions</h3>
         <li>Talk to Lawyer</li>
         <li>Property</li>
         <li>Document</li>
         <li>Ask Lawyer</li>
         <li>Lawyers click here</li>
         <li>Find Lawyers in Cities</li>
    
        </div>
        <div class="footer-col">
          <h3>Support</h3>  
         <li><i class="fa-solid fa-phone">+91-6374611820</i></li>
         <li><i class="fa-solid fa-messages">whatsapp</i></li>
         
    
        </div>
        <div class="footer-col">
         <h3>Company</h3>
         <li>About</li>
         <li>Contact Us</li>
         <li>Blogs</li>
         <li>Advisors</li>
         <li>Careers</li>
    
        </div>
        <div class="footer-col">
            <h3>Newsletter</h3>
            <p>You can trust us.we only send promo offers,</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email">
                <a href="#" class="yellow">SUBSCRIBE</a>
            </div>
           </div>
    </footer>  
<router-outlet></router-outlet>