
<header class="header"> 
    <img src="https://cdn.pixabay.com/photo/2014/09/17/22/39/scales-of-justice-450203__340.png"   height="100px"><span>JUSTIPORT</span>
    <nav class="navigation"> 
      <a routerLink="" >Home</a>
      <a routerLink="/about" >About</a>
      <a routerLink="/log" >Client Login</a>
      <a routerLink="/lawin" >Lawyer Login</a> 
    </nav>
</header>
 
 
<section >   
    
    <div class="banner">
         
         
        <div class="slider">
            <img src="https://t4.ftcdn.net/jpg/05/16/20/99/360_F_516209984_APT701DWSDCUPzErByEByUrqEjHwRYCX.jpg" width="100%" height="600px" id="slideimg">
             
            
        </div>
        <div class="overlay">

             </div>
              
    </div>
</section>
<section> 
    <div class="feature-top">  
        <div class="feature-item">
                        <i class="far fa-check-circle"></i>
                        <h3>Legal</h3>
                        <p>Govt Approved</p>
                    </div>
            
                
                    <div class="feature-item">
                        <i class="fa fa-user-tie"></i>
                        <h3>Attorneys</h3>
                        <p>Expert Attorneys</p>
                    </div>
                
                 
                    <div class="feature-item">
                        <i class="far fa-thumbs-up"></i>
                        <h3>Success</h3>
                        <p>99.99% Case Won</p>
                    </div>
                 
                    <div class="feature-item">
                        <i class="far fa-handshake"></i>
                        <h3>Support</h3>
                        <p>Quick Support</p>
                    </div>
                
    </div>
      
     
    
    </section>
    <section class="features">
        
        <h1 class="heading"> 100+ Legal Experts In Various Area  </h1>
         
            <div class="box-container">
                <div class="box">
                    <div class="box1"> <i class="fa fa-users"></i>
                     <h3>Family law cases</h3>
                </div>
                 <pre>   involving issues such as
   divorce, child custody,
   child support, and adoption.</pre> 
                </div>
                <div class="box">
                    <div class="box1"><i class="fa fa-gavel"></i> 
                      <h3>Criminal Cases</h3>
                </div>
                   <pre>
 involving violations of criminal
 laws such as murder, robbery, 
 assault, and drug offenses.

                </pre> 
                </div>
                <div class="box">
                    <div class="box1"> <i class="fa fa-hand-holding-usd"></i>
                     <h3>Bankrupty Cases</h3>
                </div>
                 <pre>involving individuals or businesses
who cannot pay their debts 
and seek protection from 
creditors.</pre> 
            </div>
            </div>
            <div class="box-container">    
                <div class="box">
                    <div class="box1"> <i class="fa fa-landmark"></i>
                    <h3>Civil cases</h3>
                    </div>
                     <pre> involving disputes between 
 individuals or organizations,
 such as personal injury claims,
 breach of contract, and property 
 disputes.</pre>
                     

                </div>
                <div class="box">
                    <div class="box1"> 
                        <i class="fa fa-graduation-cap"></i>
                       <h3>Employemental law Cases</h3>
                    </div>
                    <pre>  involving disputes between
  employers and employees, such 
  as discrimination, wrongful 
  termination, and harassment.</pre> 
                </div>
                <div class="box">
                    <div class="box1"> 
                     
                     <i class="fa fa-globe"></i>
                     <h3>Constitutional cases</h3>
                </div>
                <pre>  involving disputes over 
  the interpretation of the 
  constitution and the protection 
  of individual rights.</pre> 
            </div>

            </div>
             

        
    </section>
    <section class="text">
        <h1 class="heading1"></h1>
            <div class="advan">
                 <img src="" alt="">
            </div>
             
    
        
    </section>
     

   <footer>
    <div class="footer-col">
     <h3>Solutions</h3>
     <li>Talk to Lawyer</li>
     <li>Property</li>
     <li>Document</li>
     <li>Ask Lawyer</li>
     <li>Lawyers click here</li>
     <li>Find Lawyers in Cities</li>

    </div>
    <div class="footer-col">
      <h3>Support</h3>  
     <li><i class="fa-solid fa-phone">+91-6374611820</i></li>
     <li><i class="fa-solid fa-messages">whatsapp</i></li>
     

    </div>
    <div class="footer-col">
     <h3>Company</h3>
     <li>About</li>
     <li>Contact Us</li>
     <li>Blogs</li>
     <li>Advisors</li>
     <li>Careers</li>

    </div>
    <div class="footer-col">
        <h3>Newsletter</h3>
        <p>You can trust us.we only send promo offers,</p>
        <div class="subscribe">
            <input type="text" placeholder="Your Email">
            <a href="#" class="yellow">SUBSCRIBE</a>
        </div>
       </div>
</footer>  
<router-outlet></router-outlet>

